doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Neo4j Api with Angular.js
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block content